.detailsContainer {
  background-color: #f5f5f5;
  /* Color de fondo */
  border-radius: 10px;
  /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  padding: 20px;
  /* Espaciado interno */
  margin: 20px auto;
  /* Margen y centrado horizontal */
  max-width: 900px;
  /* Ancho máximo */
  display: flex;
  /* Mostrar en línea */
  flex-direction: column;
  /* Dirección de los elementos */
  align-items: center;
  /* Alinear al centro */
  background-color: #7d2424;
  /* Color de fondo */
  border: 2px solid rgb(0, 0, 0);
}

.detailsContainer p {
  margin: 5px 0;
  /* Espaciado superior e inferior */
}

.detailsContainer h2 {
  color: #f9f9f9;
  /* Color del título */
  margin-bottom: 15px;
  /* Espaciado inferior */

}

.pokemonImageContainer {
  text-align: center;
  /* Alinear al centro */
}

.pokemonImageContainer img {
  width: 180px;
  /* Ancho de la imagen */
  height: auto;
  /* Altura automática */
  border-radius: 100px;
  /* Borde redondeado */
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  /* Sombra suave */
  border: 1px solid black;
  background-color: #a63030;
}

.pokemonInfo {
  margin-top: 20px;
  /* Espaciado superior */
  display: flex;
  /* Mostrar en línea */
  width: 100%;
  justify-content: space-around;
}

.pokemonInfo p {
  margin-bottom: 8px;
  /* Espaciado inferior */
  color: #555;
  /* Color del texto */
}

.pokemonInfo ul {
  list-style-type: none;
  /* Sin viñetas */
  padding: 0;
  /* Sin relleno */
}

.pokemonInfo li {
  margin-bottom: 5px;
  /* Espaciado inferior */
}

.pokemonInfo strong {
  color: #000000;

  /* Color del texto en negrita */
}

.pokemonInfo span {
  color: #ffffff;
  /* Color del texto en negrita */
}

.pokemonPersonalInfo {
  background-color: #f5f5f5;
  /* Color de fondo */
  border-radius: 10px;
  /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  padding: 20px;
  /* Espaciado interno */
  margin: 20px auto;
  /* Margen y centrado horizontal */
  max-width: 800px;
  /* Ancho máximo */
  display: flex;
  /* Mostrar en línea */
  flex-direction: column;
  /* Dirección de los elementos */
  align-items: center;
  /* Alinear al centro */
  background-color: #a63030;
  /* Color de fondo */
  border: 1px solid rgb(0, 0, 0);
}

.pokemonPersonalStats {
  background-color: #a02e2e !important;
  /* Color de fondo */
  border-radius: 10px;
  /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  padding: 20px;
  /* Espaciado interno */
  margin: 20px auto;
  /* Margen y centrado horizontal */
  max-width: 800px;
  /* Ancho máximo */
  display: flex;
  /* Mostrar en línea */
  flex-direction: column;
  /* Dirección de los elementos */
  align-items: center;
  /* Alinear al centro */
  background-color: #a63030;
  /* Color de fondo */
  border: 1px solid rgb(0, 0, 0);
}

.h3Fondo{
  background-color: #000000c3;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fbfafa;
  margin-bottom: 10px;
}

.btnVolver{
  background-color: #a73939;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #000000;
}

.btnVolver:hover{
  background-color: #fd855e;
}

